<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <title>BikeShop - Shop</title>
    <script src="https://kit.fontawesome.com/a41e9403cf.js" crossorigin="anonymous"></script>
    
</head>
<body>
<div class="container-fluid">
<!-- header -->
<header>
  <div class="row">
    <nav class="col-12 navbar navbar-light bg-dark">
        <a class="navbar" href="/">
        <img src="images/bike-logo.svg" width="50" height="50" class="logo" alt="">
            The Bike Shop Experience
        </a>
    </nav>
  </div>
</header>
<!-- top navbar -->
<div class="row ariane">
  <nav aria-label="breadcrumb" class="col-12">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Shop</a></li>
      <li class="breadcrumb-item active" aria-current="page">Basket</li>
    </ol>
  </nav>
</div>

<h1>Basket</h1>

    <div class="row">
    <div class="col-lg-12">
    <table class="table">
        <thead>
          <%if (dataCardBike.length == 0) {%>
              <h5 class="empty-basket">No article in the basket</h5>   
          <%} else {%>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Picture</th>
            <th scope="col">Model</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col">Suppr</th>
          </tr>
 
        </thead>

        <tbody>
          <% for(var i=0; i<dataCardBike.length; i++ ) {%>
          <tr class="basket-item">  
            <th scope="row"><%=i + 1%></th> <!-- index -->
            <td><img src=<%=dataCardBike[i].url%> class="basket-img"></td>
            <td><%=dataCardBike[i].name%></td>
            <td>
                <form action="/update-shop" method="post">
                  <!-- position et quantity seront les nouvelles propriétés de req.body -->
                  <!-- le formulaire récupère toutes les infos position et quantity en même temps -->
                  <input type="hidden" name="position" value=<%=i%>>
                  <input type="text" name="quantity" value="<%=dataCardBike[i].quantity%>" placeholder="1">
                  <button class="btn btn-outline-info btn-sm" name="button"><i class="fas fa-sync-alt" aria-hidden="true"></i></button>
                </form>
            </td>
            <td><%=dataCardBike[i].price%>€</td> 
            <td><%=dataCardBike[i].price*dataCardBike[i].quantity%>€</td>  
            
            <!-- position est une nouvelle propriété crée -->
            <td><a href="/delete-shop?position=<%=i%>"><button class="btn btn-outline-info btn-sm" name="button"><i class="fas fa-trash-alt"></i></button></a></td> 
          <%
          }
          %>
          </tr>

          <%
          var totalCmd = 0;
          for(var i=0; i<dataCardBike.length; i++) {
          totalCmd = (dataCardBike[i].price*dataCardBike[i].quantity) + totalCmd
          }
          %>
          <!-- Total -->
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td class="total-box">Total Basket : </td>      
            <td><%=totalCmd%>€</td>
            <td class="total-box"></td>       
          </tr>
        </tbody>
      </table>
      </div>

   
      <div class="row">
        <div class="col-12 text-right">
        <button id="checkout" class="btn btn-outline-info btn-sm btn-checkout" name="button-checkout">Checkout</button>    
        </div>
      </div>
      
      
      <%}%>

  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.jintegrity="sha384-q8+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizcrossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- le javasript de stripe doit être appelé avant le notre -->
  <script src="https://js.stripe.com/v3/"></script>
  <!-- On met du JS. on récupère la propriété sessionStripeID de la route. -->
  <!-- Cette const sera utilisée dans notre fichier JS -->
  <script>
    const sessionStripeID = "<%=sessionStripeID%>"
  </script>
  <script src="/javascripts/script.js"></script>
</body>
</html>